APP_ENV=production
FRONTEND_BASE_URL=https://app.blazico.nl/LTRC-Manager
CORS_ALLOWED_ORIGINS=https://app.blazico.nl

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://app.blazico.nl/LTRC-Manager/auth/callback
SESSION_SECRET=change-me
SESSION_COOKIE_NAME=ltrc_session
SESSION_MAX_AGE_SECONDS=2592000

# blazico                       276472885063974912
# thesuperartistgamer           762756926647697479
# .ryumi                        408294570791534592
# gaberboo                      280020435008225282
ALLOWED_DISCORD_USER_IDS=276472885063974912,762756926647697479,408294570791534592,280020435008225282
